<ion-header header-ios>
        <ion-navbar transparent>
          <button ion-button menuToggle>
            <ion-icon name="menu" color="primary"></ion-icon>
          </button>
          <ion-title text-left><h5 style="font-size:15px;">ประเมินราคาอสังหาริมทรัพย์</h5></ion-title>
        </ion-navbar>
      </ion-header>
    <ion-content padding >
        <div #map id="map"></div>
        <div id="warnings-panel"></div>
        
            
    <form >
        
        <h1 id="h1">กรอกข้อมูลเพิ่มเติม:</h1>
        
            <ion-list radio-group name="radio" [(ngModel)]="itemChecked_well"> 
                <ion-item *ngFor="let item of data_well" >
                    <ion-label>{{item.factor_name}}</ion-label>
                    <ion-radio (ionSelect)="select(item)"  [value]="item"></ion-radio>
                </ion-item>
            </ion-list>
        
        
            <ion-list radio-group name="radio" [(ngModel)]="itemChecked_height_road"> 
                <ion-item *ngFor="let item_hr of data_road" >
                    <ion-label>{{item_hr.factor_name}}</ion-label>
                    <ion-radio (ionSelect)="select_hr(item_hr)" [value]="item_hr"></ion-radio>
                </ion-item>
            </ion-list>
        
        
            <ion-list radio-group name="radio" [(ngModel)]="itemChecked_shape"> 
                <ion-item *ngFor="let item_sp of data_shape" >
                    <ion-label>{{item_sp.factor_name}}</ion-label>
                    <ion-radio (ionSelect)="select_sp(item_sp)" [value]="item_sp"></ion-radio>
                </ion-item>
            </ion-list>
        
        
            <ion-list radio-group name="radio" [(ngModel)]="itemChecked_width"> 
                <ion-item *ngFor="let item_wd of data_width" >
                    <ion-label>{{item_wd.factor_name}}</ion-label>
                    <ion-radio (ionSelect)="select_wd(item_wd)" [value]="item_wd"></ion-radio>
                </ion-item>
            </ion-list>
        
            <button ion-button (click)="clickservice()"></button>
    </form>
            <!--<ion-list radio-group>
                  <ion-item *ngFor="let item of data_well">
                    <ion-label>{{ item.factor_name }}</ion-label>
                    <ion-radio value="item"></ion-radio>
                  </ion-item>
            </ion-list>
            <ion-list radio-group >
                    <ion-item *ngFor="let item_hr of data_road">
                    <ion-label>{{ item_hr.factor_name }}</ion-label>
                    <ion-radio value="item_hr"></ion-radio>
                    </ion-item>
            </ion-list>-->
            
        <!--<ion-list radio-group name="radio" [(ngModel)]="itemChecked_height_road"> 
            <ion-item *ngFor="let item_hr of items_height_road" >
                <ion-label>{{item_hr.name}}</ion-label>
                <ion-radio (ionSelect)="select_hr(item_hr)" [value]="item_hr"></ion-radio>
            </ion-item>
        </ion-list>-->
        
            <!--<ion-list radio-group name="radio" [(ngModel)]="itemChecked_shape"> 
                <ion-item *ngFor="let item_sp of items_shape" >
                    <ion-label>{{item_sp.name}}</ion-label>
                    <ion-radio (ionSelect)="select_sp(item_sp)" [value]="item_sp"></ion-radio>
                </ion-item>
            </ion-list>-->
        
        
  
    </ion-content>