.ios, .md {
    page-map-direction {
    #floating-panel {
        margin-top: 50px;
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #map {
        height: 100%;
      }
      ion-card {
                
                max-height: 200px;
                overflow: scroll;
                position: absolute;
                z-index: 1;
            }
    }
    }