page-appraisal {
  .block{
    position: relative;
    .Icon{
        position: absolute;
        right: 15px;
        //font-size: 25px;
        margin-top: 2px;
        //color: white;
    }
    Button{
      background: linear-gradient(to bottom right, aquamarine, #19b8f7);
    }
  }
  .thumb-img{
    height: 300px;
    width: 100%;
  }
      
}
