page-appraisal {
  ion-select{
        border: 2px solid gray;
        border-radius: 8px;
        text-align: center;
        // margin-bottom: 10px;
    }
  .block{
    position: relative;
    .Icon{
        position: absolute;
        right: 15px;
        //font-size: 25px;
        margin-top: 2px;
        //color: white;
    }
    Button{
      background: linear-gradient(to bottom right, aquamarine, #19b8f7);
    }
  }
  .thumb-img{
    height: 300px;
    width: 100%;
  }
  #map {
        height: 50%;
        width: 100%;
    }
  // // hide logo google
  // a[href^="http://maps.google.com/maps"],
  // a[href^="https://maps.google.com/maps"],
  // a[href^="https://www.google.com/maps"] {
  //     display: none !important;
  // }
  // .gm-bundled-control .gmnoprint {
  //     display: block;
  // }
  // .gmnoprint:not(.gm-bundled-control) {
  //     display: none;
  // }
  
}
