<!--
  Generated template for the AppraisalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Appraisal</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">ปิด</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<!--<ion-content padding>
    {{ log }}
    
    <form (ngSubmit)="logForm(form)">
            <button ion-button secondary (click)="showKeyboard()">Show Keyboard</button>
        <div style="text-align:center;">
            <span class="step" id="step1">1</span>
            <span class="step" id="step2">2</span>
        </div>
        <h1 id="h1">กรอกข้อมูลเพิ่มเติม:</h1>
        
        <div class="tab">
        <ion-list radio-group name="radio" [(ngModel)]="itemChecked_well"> 
        <ion-item *ngFor="let item of items_well" >
            <ion-label>{{item.name}}</ion-label>
            <ion-radio (ionSelect)="select(item)" [value]="item"></ion-radio>
        </ion-item>
        </ion-list>
        
        <ion-list radio-group name="radio" [(ngModel)]="itemChecked_height_road"> 
            <ion-item *ngFor="let item_hr of items_height_road" >
                <ion-label>{{item_hr.name}}</ion-label>
                <ion-radio (ionSelect)="select_hr(item_hr)" [value]="item_hr"></ion-radio>
            </ion-item>
        </ion-list>
        </div>
        <div class="tab">
            <ion-list radio-group name="radio" [(ngModel)]="itemChecked_shape"> 
                <ion-item *ngFor="let item_sp of items_shape" >
                    <ion-label>{{item_sp.name}}</ion-label>
                    <ion-radio (ionSelect)="select_sp(item_sp)" [value]="item_sp"></ion-radio>
                </ion-item>
            </ion-list>
        </div>
        <div style="float:right;">
            <button type="button" id="prevBtn" (click)="nextPrev(-1)">ย้อนกลับ</button>
            <button type="button" id="nextBtn" (click)="nextPrev(1)">ต่อไป</button>
          </div>
        
    </form> 
</ion-content>-->
<ion-content padding>
        <ion-list>
            <ion-item [class.active]="focus === 'userId'" (touchend)="setFocus('userId')">
                <ion-label stacked>User ID</ion-label>
                <ion-input type="text" [ngModel]="userId"></ion-input>
            </ion-item>
    
            <ion-item [class.active]="focus === 'userPassword'" (touchend)="setFocus('userPassword')">
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" disabled [ngModel]="userPassword"></ion-input>
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-digit-keyboard
        [align]="keyboardSettings.align"
        [width]="keyboardSettings.width"
        [visible]="keyboardSettings.visible"
        [leftActionOptions]="keyboardSettings.leftActionOptions"
        [rightActionOptions]="keyboardSettings.rightActionOptions"
        [roundButtons]="keyboardSettings.roundButtons"
        [showLetters]="keyboardSettings.showLetters"
        [swipeToHide]="keyboardSettings.swipeToHide"
        [theme]="keyboardSettings.theme"
    >
    <ion-toolbar no-border-bottom>
            <ion-buttons start>
                <button ion-button (click)="hideKeyboard()">Cancel</button>
            </ion-buttons>
            <ion-buttons end>
                <button ion-button solid *ngIf="">Next</button>
                <button ion-button (click)="hideKeyboard()">Done</button>
            </ion-buttons>
        </ion-toolbar>
</ion-digit-keyboard>