page-home {
    .select-md .select-icon,.select-ios.select-icon {
        position: absolute;
        width: 82px;
        height: 19px;
        left: 15px;
        top: 26px;
    }
    // map style
    #map {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute!important;
        overflow: hidden!important;
    }
    .currentitem {
        position: fixed;
        opacity: .8;
        top: 12rem;
        left: 0;
        z-index: 103;
        width: 100%;
        height: 50px;
        .item-ios .item-inner {
            background: none;
            padding-right: 10px;
        }
    }
    .hidemap {
        visibility: hidden;
        margin-top: -1000px;
    }
    ion-searchbar {
        position: absolute;
        
        z-index: 5;
    }
    .switch {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 80%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        opacity: .9;
        .active {
            background: #3366CC!important;
            color: #fff;
        }
        .button {
            width: 70px;
            margin: 0;
            padding: 0;
        }
    }
    #floating-panel {
        width: 80%;
        position: absolute;
        margin: 40px;
        z-index: 5;
        background-color:rgba(255,255,255,0.8);
        
        border: 1px;
        border-radius: 30px; 
        text-align: center;
        font-family: 'Roboto','sans-serif';
        
      }
      [header-background-image] {
        height: 250px;
        background-size: cover;
        background-position: center;
        
        [header-title] {
            padding-right: 10%;
        }
        img {
            position: relative;
            display: block;
            padding-top: 24px;
            max-width: 250px;
        }
        p {
            font-size: 14px !important;
            color: #fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: lighter;
        }
        h2{
            color: #fff;
            font-size: 2.3em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: lighter;
        }
    }
    
    // Settings Style distance icon text
    [main-menu] .item-inner {
        margin-left: 6px !important;
    }
    ion-input{
		border-bottom: gray solid 1px;
    }
    .item{
		background: rgba(232,230,230,0px);
		border: medium none;
    }
    .gm-style-iw {
        width: 300px !important;
        top: 38px !important;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        border: 1px solid rgba(72, 181, 233, 0.6);
        border-radius: 2px 2px 10px 10px;
    }
    #iw-container {
        width: 100%;
    }
    #iw-container .iw-title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 28px;
        font-weight: 400;
        padding: 10px;
        background-color: #48b5e9;
        color: white;
        margin: 0;
        border-radius: 2px 2px 0 0;
    }
    #iw-container .iw-content {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 15px 5px 20px 15px;
        max-height: 140px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .iw-content img {
        float: right;
        margin: 0 5px 5px 10px;	
    }
    .iw-subTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
    }
    .iw-bottom-gradient {
        position: absolute;
        width: 326px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
}