// http://ionicframework.com/docs/theming/


[header-background-image] {
    height: 250px;
    background-size: cover;
    background-position: center;
    
    [header-title] {
        padding-right: 10%;
    }
    img {
        position: relative;
        display: block;
        padding-top: 24px;
        max-width: 250px;
    }
    p {
        font-size: 12px !important;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
    h2{
        color: #fff;
        font-size: 1.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
}

// Settings Style distance icon text
[main-menu] .item-inner {
    margin-left: 6px !important;
}
