page-near-by {
  #map {
        height: 50%;
        width: 100%;
    }
    ion-select{
        border: 2px solid gray;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 10px;
    }
    
}
